.simple{
    width: 500px;
    margin: 20px auto;

}

.fancy{
    width: 500px;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    border: solid blue 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}
.relative1{
    position: relative;
}
.relative2{
    position: relative;
    top: 20px;
    left: 50px;
    background-color:darkkhaki;
    width: 500px;

}
.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color:crimson;
}
.relative{
    position: relative;
    width: 500px;
    height: 500px;
}
.absolute{
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
}