div{
    height: 100px;
    width: 100px;
    color: wheat;
}
.container{
    display: flex;
    flex-direction: column;
    background:tomato;
    height: 500px;
    width: 500px;
}
.first{
    display: flex;
    background: red;
    align-items: center;
    justify-content: space-around;
    order: 1;
}
.second{
    background:firebrick;
    align-self:flex-end;
}
.third{
    background: chocolate;
    
}
.fourth{
    background:crimson;
    align-self:flex-end;
}
.fifth{
    background:darkgreen;
}
.sixth{
    background: darkblue;
    order: -1;
}
.seventh{
    background:silver;
    align-self:flex-end;
}